<html>


<body>

    <nav>
        <a>Home</a>
        
        <a href="{% url 'conference_liste' %}">Conférences</a>
        <a>Contact</a>
        
        {% if user.is_authenticated %}
        <a>{{user.username}}</a>
        <a>logout</a>
        <a href="{%url 'logout' %}">logout</a>
        {%else%}
        <a href="{%url 'login' %}">login</a>
        <a href="{%url 'register' %}">register</a>
        
        {%endif%}


    </nav>
    <div>
        {% block content %} {% endblock %}
    </div>  
    
    <footer>
        <p>2025-2026 </p>
        <p>workshop DJANGO </p>
    </footer>

</body>
